<html>  
  <head>
    <% provide(:title, 'プロフィール') %>
  </head>
    <%= render partial: '/shared/header' %>
  <div class="justify-content-center">
    <h2 class="text-center">プロフィール</h2>
  </div>
</html>