<div class="listings">
  <div class="listings_channels">
    <ul class="channel_list">
      <%= sidebar_link_item('お問い合わせ一覧', admin_contacts_path) %>
      <%= sidebar_link_item('ブログ一覧', admin_articles_path) %>
    </ul>
  </div>
</div>
