<% provide(:title, 'お問い合わせ | 完了') %>

<div class='container text-center w-75' id='content'>
  <div class="card border-0 shadow-sm">
    <div class="card-body">
      <div class="form-block d-flex align-items-center justify-content-center">
        お問い合わせありがとうございます。<br>入力されたメールアドレスにメールを送信したのでご確認ください
      </div>
    </div>
  </div>
</div>
