/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "simple_calendar";

.field_with_errors {
  display: contents;
  input {
    @extend .is-invalid;
  }
}
.pagination{
  margin-left: 30%;
  margin: 20px auto 0;
  width: 75%;
  display: flex;
  justify-content: center;
  padding: 0px 5px;
}
.first, .last{
  margin: auto 15px;
}
.last a, .first a {
  color: #F3DCDC;
  font-size: 30px;
}
.page{
  margin: 0 15px;
  font-size: 30px;
  display: inline-block;
  background: white;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  font-size: 52px;
  text-align: center;
  line-height: 80px;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
}
/*ページネーション自体のデザイン*/
.page>a {          
  border: none;
  color: #F3DCDC;
  border-radius: 50px;
}

/* 表示しているページ番号のデザイン */
.page_current {
  background-color: #F3DCDC;
  color: white;
  border-radius: 50px;  
}

/*ホバー時のデザイン*/
.pagination a:hover{
  color: white;
  text-decoration: none;
}
.current{
  color: white;
  background-color: #F3DCDC;
}