// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.blog-h2{
  text-align: center;
  color: #E9DCDC;
  font-size: 100px;
}
.flex{
  display: flex;
  margin-top: 65px;
}
.title-body{
  display: block;
  margin-left: 45px;
}
.title{
  font-size: 30px;
}
.body{
  margin-top: 30px;
  font-size: 25px;
}