// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
*{
  font-family: 'MS PMincho';
  animation-name:fadeUpAnime;
  animation-duration:1.0s;
  animation-fill-mode:forwards;
  opacity:0;
}
@keyframes fadeUpAnime{
  from {
  opacity: 0;
  transform: translateY(100px);
  }

  to {
  opacity: 1;
  transform: translateY(0);
  }
}
#navbarSupportedContent{
  height: 90%;
  background-image: linear-gradient(180deg, #F1DCDC 75%, #FFFFFF 100%);
}
.nav-link{
  text-shadow: 1px 1px 1px #808080;
}
.menu{
  font-size: 35px;
}
.menu-text{
  display: block;
  margin-top: -10px;
  font-size: 20px;
  height: 65px; 
}
.yrk{
  box-shadow: 0 0 2px #333;
  opacity: 0.5;
  width: 100%;
  height: 95%;
}
.sp_image{
  display: none;
}
.nav-item{
  padding: 0px 10px;
  margin-left: 25px;
}
.text-posission {
  text-align: center;
  margin-top: 15%
}
.all-woman{
  color: #949494;
  font-size: 100px;
}
.bright_future{
  font-size: 100px;
  color: #BA8888;
}
.logo{
  margin-top:10%;
  margin-bottom:15%;
  width: 45%;
  height: auto;
}
#howto{
  margin-top: 15%;
  margin-bottom: 20%;
}
.howto{
  text-align: center;
  font-size: 85px;
}
#center-word{
  margin-left: 25%;
  padding-top: 5%;
  padding-bottom: 5%;
  width: 50%;
  background-color: #FFF6F6;
}
.personal{
  display: block;
  font-size: 30px;
  margin-top: -10px;
}
.color-diagnosis, .facetype{
  font-size: 65px;
  padding: 0px;
}
.kakeru{
  font-size: 65px;
  margin-top: 50px;
  margin-bottom: 50px;

}
.phrase{
  font-size: 65px;
  margin-top: 15%;
  text-align: center;
}
.bird{
  margin-top: 10%;
  opacity: 0.2;
  transform: scale(-1, 1);
}
.solution{
  margin: 35% auto;
}
.solution h2{
  text-align: center;
  font-size: 100px;
}
#color{
  margin: 15% auto;
  background-color:#FAE6E6;
  border-radius: 45px;
  height: 450px;
}
.color{
  font-size: 65px;
  padding-top: 0px;
  font-weight: bold;
}
.palette{
  filter: invert(88%) sepia(61%) saturate(0%) hue-rotate(229deg) brightness(120%) contrast(101%);
  transform: scale(-1, 1);
  margin-left: 65%;
  margin-top: 20%;
}
.color-word{
  background-image: url("coloring.jpeg");
  box-shadow: 0 0 8px #333;
  background-size: cover;
  padding-top: 80%;
  margin-left: 10%;
  width: 700px;
  height: 700px;
}
.color-text{
  padding: 5%;
  background-color: rgba(251, 235, 235, 0.3);
  border-radius: 45px;
  width: auto;
  font-size: 20px;
}
.first-text{
  font-size: 65px;
}
.styling-image{
  background-image: url("style.JPG");
  box-shadow: 0 0 8px #333;
  background-size: cover;
  padding-top: 60%;
  padding-left: 20%;
  width: 600px;
  height: 600px;
}
.style-text{
  margin-top: 20%;
  padding-right: 10%;
  background-color: rgba(251, 235, 235, 0.3);
  border-radius: 45px;
  width: auto;
  font-size: 25px;
}
#style{
  margin-top: 5%;
  background-color:#FAE6E6;
  border-radius: 45px;
  height: 500px;
}
.style{
  font-weight: bold;
  font-size: 65px;
}
.face_type{
  margin-top: 35%;
  font-weight: bold;
  font-size: 65px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.woman{
  width: 150px;
  padding-top: -25%;
  filter: invert(88%) sepia(61%) saturate(0%) hue-rotate(229deg) brightness(107%) contrast(101%);
}
.wrapper{
  margin-top: 25%;
}
.faceType{
  padding-left: 80%;
  margin-top: 25%;
}
.special_option{
  margin-top: 20%;
  padding: 30% 0;
}
.special_option h3{
  font-size: 50px;
  text-align: center;
}
.consult{
  background-image: url("consult.jpg");
  box-shadow: 0 0 8px #333;
  background-size: cover;
  padding-top: 80%;
  margin-left: 10%;
  width: 600px;
  height: 450px;
}
.consulting{
  font-weight: bold;
  font-size: 65px;
}
.classes{
  width: 150px;
  padding-top: -30%;
  filter: invert(88%) sepia(61%) saturate(0%) hue-rotate(229deg) brightness(107%) contrast(101%);
}
.salon{
  margin-top: 15%;
  margin-bottom: 10%;
}
.salon h2{
  text-align: center;
  font-size: 65px;
}
.salon-image{
  text-align: center;
}
.salon_image{
  object-fit: cover;
	height: 900px;
	width: 1000px;
  opacity: 0.8;
  margin-bottom: 10%;
  box-shadow: 0 0 8px #333;
}
#salon h4{
  color: #878282;
  text-shadow: 1px 1px 1px #808080;
  letter-spacing: 5px;
  font-size: 60px;
  text-align: center;
}
.number01{
  margin-top: 10%;
}
.num01{
  border: 1px solid #F28686;
  width: 500px;
  height: 500px;
  margin-left: 15%;
  text-align: center;
  color: #AD9292;
  font-size: 35px;
}
.num-01{
  font-size: 100px;
  letter-spacing: 0.2px;
  opacity: 0.5;
}
.num01-text{
  color: #814C4C;
  font-size: 65px;
  width: 600px;
  box-sizing: border-box;
  margin-left: -20%;
  margin-top: 40%;
  text-indent:-1.5em;
}

.number02{
  margin-top: -2%;
  margin-left: 60%;
}
.num-02{
  font-size: 100px;
  letter-spacing: 0.2px;
  opacity: 0.5;
}
.num02{
  border: 1px solid #F28686;
  width: 500px;
  height: 500px;
  margin-right: 25%;
  text-align: center;
  color: #AD9292;
  font-size: 35px;
}
.num02-text{
  color: #814C4C;
  font-size: 61px;
  width: 600px;
  box-sizing: border-box;
  margin-left: -20%;
  margin-top: 50%;
  text-indent:-0.5em;
}

.number03{
  margin-top: 10%;
}
.num-03{
  font-size: 100px;
  letter-spacing: 0.2px;
  opacity: 0.5;
}
.num03{
  border: 1px solid #F28686;
  width: 500px;
  height: 500px;
  margin-left: 15%;
  text-align: center;
  color: #AD9292;
  font-size: 35px;
}
.num03-text{
  color: #814C4C;
  font-size: 60px;
  width: 825px;
  box-sizing: border-box;
  margin-left: -20%;
  margin-top: 50%;
  text-indent:-3.0em;
}
@media screen and (min-width: 768px){
  .br-sp {display: none; }
}
@media screen and (max-width:480px) {
  .yrk{
    display: none;
  }
  .all-woman{
    font-size: 90px;
  }
  .bright_future{
    font-size: 65px;
  }
  .sp_image{
    display: block;
    width: 372px;
    height: 375px;
    box-shadow: 0 0 2px #333;
    opacity: 0.7;  
  }
  .howto{
    text-align: center;
    font-size: 85px;
    padding: 0px;
    margin-top: 35%;
  }
  #center-word{
    margin: 0 auto;
    padding-top: 5%;
    width: auto;
  }
  .phrase{
    font-size: 50px;
    margin-top: 15%;
    text-align: center;
  }
  .bird{
    width: 390px;
    height: 450px;
  }
  .palette{
    margin-left: 23%;
    margin-top: 20%;
  }  
  .color-word{
    margin-left: 0%;
    width: 390px;
    height: 350px;
  }
  .wrapper{
    margin-top: 135%;
  }
  .styling-image{
    padding-left: 0%;
    width: 390px;
    height: 350px;
  }
  #style{
    margin-top: 70%;
    height: 425px;
  }
  .faceType{
    padding-left: 10%;
    margin-top: 25%;
    font-size: 51px;
  }
  .consult{
    width: 390px;
    height: 350px;
    padding-right: 0%;
    margin: 0;
  }
  .style-text{
    margin: 0;
    padding-right: 0%;
    margin-top: 15%;
  }
  .wrapper2{
    margin-top: 45%;
  }
  .salon_image{
    height: 500px;
    width: 100%;
    margin-bottom: 10%;
  }
  .num01, .num03{
    width: 100%;    
    height: 500px;
    margin-left: 0%;
    text-align: center;
    font-size: 35px;  
  }
  .num01-text, .num03-text{
    text-align: center;
    font-size: 50px;
    width: 100%;
    box-sizing: border-box;
    margin-left: 0%;
    margin-top: 40%;
  }
  .number02{
    margin-left: 0%;
    margin-top: 15%;
  }
  .num02{
    width: 100%;
    height: 500px;
    margin-left: 0%;
    text-align: center;
    font-size: 35px;  
  }
  .num02-text{
    text-align: center;
    font-size: 40px;
    width: 100%;
    box-sizing: border-box;
    margin-left: 0%;
    margin-top: 40%;
  }
  .num03-text{
    font-size: 40px;
    text-indent: 0;
  }
}
