.ribbon14 {  
  position: absolute;
  top: 0;
  letter-spacing: 2.5px;
  right: 10px;
  margin-right: 80%;
  width: 130px;
  height: 150px;
  text-align: center;
  font-size: 38px;
  color: #895B5B;
  background: rgba(234, 186, 186, 0.2);
}
.ribbon14:after {
  content: '';
  position: absolute;
  right: 0;
  top: 100%;
  height: 0;
  border-left: 65px solid rgba(234, 186, 186, 0.2);
  border-right: 65px solid rgba(234, 186, 186, 0.2);
  border-bottom: 40px solid transparent;
}
.logo{
  width: auto;
  height: 100px;
  margin-top: 30%;
}
.profile_img{
  width: 470px;
  height: 510px;
  border-radius:50%;
  margin-top: 35%;
}

.lisblanc-text{
  padding-left: 30%;
  padding-top: 15%;
  font-size: 50px;
  font-family: 'MS PMincho';
}
.name{
  display: flex;
}
.ishidayuriko{
  padding-left: 30%;
  padding-top: 7%;
  font-size: 50px;
  font-family: 'MS PMincho';
  text-shadow: #B09F9F;
}
.yuriko_kana{
  padding-top: 7%;
  font-size: 25px;
  padding-left: 10%;
}
.lifestyle{
  background-color: rgba(234, 186, 186, 0.2);
  color: #895B5B;
  font-size: 55px;
}
.lifestyle-text{
  font-size: 32px;
  color: #AF7E7E;
}
.carrer{
  margin-left: 50px;
  margin-top: 85px;
  width: 250px;
}
.carrer-text{
  border-bottom: 1px solid;
  font-size: 45px;
}
.history{
  margin-left: 50px;
  margin-top: 85px;
}
.history-text{
  font-family: 'MS PMincho';
  font-weight: 400;
  font-size: 32px;
  line-height: 70px;
  letter-spacing: 0.1em;
  color: #AF7E7E;
}
.sns{
	display: flex;
	justify-content: center;
	align-items: center;
}
.insta, .facebook{
  width: 250px;
  height: 250px;
}
.line{
  width: 100px;
  height: 100px;
  border-radius: 20px;
  margin-left: 75px;
}
.message{
  margin: 0 auto;
}
.message-text{
  text-align: center;
  border-bottom: 1px solid;
  font-size: 45px;
  margin-top: 60px;
}
.message-title{
  margin-top: 60px;
  text-align: center;
  font-size: 45px;
  letter-spacing: 0.1em;
  color: #AF7E7E;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.yuriko_message{
  margin-top: 55px;
  font-size: 32px;
  text-align: center;
  line-height: 52px;
  letter-spacing: 0.1em;
  color: #AF7E7E;
}
.yurikosname{
  font-size: 27px;
  text-align: right;
  color: #AF7E7E;
}
@media screen and (max-width:480px) {
  .ribbon14-wrapper{
    display: none;
  }
  .profile_img{
    margin: 0 auto;
  }
  .lisblanc-text, .name, .yuriko_kana{
    font-size: 50px;
    font-family: 'MS PMincho';
    padding: 0;
    text-align: center;
  }
  .col-sm-8{
    margin-left: 25%;
  }
  .name{
    display: block;
    width: 80%;
  }
  .ishidayuriko{
    font-size: 40px;
  }
}
